<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mr-auto" href="#">
    <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="menu-collapsed">CryptVotes Organizer</span>
  </a>

  <ul class="navbar-nav">
    <li class="nav-item"><a href="#" class="nav-link">
      <%= image_tag 'logo.png', size: '30', class: "rounded-circle" %>
      CryptVotes Admin </a>
    </li>
  </ul>
</nav>

<div class="row" id="body-row">
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <ul class="list-group">
      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed" style="background-color: #333;">
        <small>MAIN MENU</small>
      </li>
						
      <a href="#" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-home fa-fw mr-3"></span>
          <span class="menu-collapsed">Dashboard</span>
        </div>
      </a>
<% if @status == -1 %>
      <a href="#" aria-expanded="true" class="bg-dark list-group-item list-group-item-action flex-column align-items-start toggle-icon collapsed">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-key fa-fw mr-3"></span>
          <span class="menu-collapsed">Admin</span>
          <span class="fa fa-chevron-down fa-fw mr-3 ml-auto"></span>
        </div>
      </a>

      <div id="submenu2" class="collapse sidebar-submenu show">
        <a href="organize?menu=election" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="fa fa-tasks fa-fw mr-3"></span>
          <span class="menu-collapsed">Elections</span>
        </a>
        <a href="organize?menu=organizer" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="fa fa-user-tie fa-fw mr-3"></span>
          <span class="menu-collapsed">Organizers</span>
        </a>
        <a href="organize?menu=access_right" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="fa fa-exclamation-triangle fa-fw mr-3"></span>
          <span class="menu-collapsed">Access Rights</span>
        </a>
      </div> 
<% elsif @status == 1 %>
      <a href="/organize?menu=voter" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-users fa-fw mr-3"></span>
          <span class="menu-collapsed">Voters</span>
        </div>
      </a>
      <a href="/organize?menu=candidate" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-user-circle fa-fw mr-3"></span>
          <span class="menu-collapsed">Candidates</span>
        </div>
      </a>
<% end %>
      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed" style="background-color: #333;">
        <small>OPTIONS</small>
      </li>

      <a href="/organize?menu=change_password" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-lock fa-fw mr-3"></span>
          <span class="menu-collapsed">Change Password</span>
        </div>
      </a>

      <a href="/organize/logout" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-door-open fa-fw mr-3"></span>
          <span class="menu-collapsed">Sign Out</span>
        </div>
      </a>
<!--
      <li class="list-group-item logo-separator d-flex justify-content-center">
          <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30">
      </li>
-->
    </ul>
  </div>

  <div class="col">
    <%= flash[:alert] if flash[:alert].present? %>
    <%= render @menu %>
  </div>
</div>