<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Passphrase Reset Request</h1>
    <p>
      Dear <%= @user.name %>, <br /><br />
      You recently requested to reset your passphrase.<br />
      To confirm your request and resetting your passphrase,<br />
      please click this link:<br />
      <%= @url %><br />
    </p>
    <p>Thanks and have a great day!<br />
    CryptVotes Registration Authorization</p>
  </body>
</html>