<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>User Verification</h1>
    <p>
      Dear <%= @user.name %>, <br />
      You recently created a CryptVotes Account.<br />
      To confirm your e-mail address and setting up your account,<br />
      please click this link:<br />
      <%= @url %>
    </p>
    <p>Thanks and have a great day!<br />
    CryptVotes Registration Authorization</p>
  </body>
</html>