<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Vote has been Recorded !</h1>
    <p>
      Dear <%= @user.name %>, <br /><br />
      Your ballot of <%= @election.name %> Election <br />
      has been recorded to the system ! <br />
      Here is the vote ID of your Vote<br />
    </p>
      <h4>Transaction ID (or Vote ID) :</h4>
      <h3><%= @txid %></h3>
      <br />
      <p>These IDs and details can be verified at Verification Page:<br />
      <%= @url %>
    </p>
    <p>Thanks and have a great day!<br />
    CryptVotes Election Authorization</p>
  </body>
</html>