<div class="container-fluid">
    
  <div class="jumbotron" style="background-color: white">
    <div class="row">
      <div class="col-md-5">
          <img src="<%= asset_path( 'logo.png' ) %>" width="50%" />
        <div class="row" style="padding-bottom: 15px;">
          Login to Your Account
        </div>
        <div class="row">
          <form style="width: 90%;" method="post" action="/home">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Your Username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Your Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-md-7">
        <img src="<%= asset_path( 'home.jpg' ) %>" width="100%" height="100%" />
      </div>
    </div>
  </div>  
</div>