<div class="container-fluid" style="margin-top: 2%">
	<h1>Vote Result</h1>
	<table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
					<th>Participants</th>
					
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ketua HIMAINFRA 2018</td>
          <td>Pemilihan ketua himpunan mahasiswa infor SIB 2018</td>
          <td>5 October 2018</td>
          <td>8 October 2018</td>
          <td>189</td>
          
        </tr>
        <tr>
          <td>Ketua BEM 2018</td>
          <td>Pemilihan ketua Badan Eksekutif Mahasiswa periode 2018</td>
          <td>5 October 2018</td>
          <td>8 October 2018</td>
          <td>2235</td>
          
        </tr>
        <tr>
          <td>BPMF 2018</td>
          <td>Pemilihan pengurus BPMF 2018</td>
          <td>5 October 2018</td>
          <td>8 October 2018</td>
          <td>478</td>
          
        </tr>
      </tbody>
    </table>
</div>